In [47]:
import pandas as pd
from pathlib import Path
import os
import pandas as pd

In [15]:
df = pd.read_csv('../data/raw/Test.csv')

In [19]:
df.tail(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
5676,FDB58,10.5,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.6,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.0,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.3,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.5,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

In [23]:
os.path.abspath('app.py')

'C:\\Codes\\Python\\Store_Sales_Prediction\\notebooks\\app.py'

In [32]:
Path.cwd().parent.parent

WindowsPath('C:/Codes/Python/Store_Sales_Prediction')

In [44]:
with open('../src/other/logs/train_log.txt') as f:
    st = f.read()
    st = st.split('*')
    lst = []
    for i in range(len(st)):
        if i%2!=0:
            stt = st[i].split('\n')
            dct = {}
            for j in range(1,len(stt)-1):
                split_text = stt[j].split(': ')
                key = split_text[0].strip()
                val = split_text[1].strip()
                dct[key] = val
            lst.append(dct)

In [45]:
lst

[{'TimeStamp': '2021-09-14 16:47:28.783963',
  'Model Name': 'CatBoostRegressor',
  'R2 Score': '0.5453650346055008',
  'Mean Abs Error': '742.1582307861552',
  'Mean Sq Error': '1139123.5159865844',
  'Root Mean Sq Error': '1067.2972950338553'},
 {'TimeStamp': '2021-09-14 16:48:54.904778',
  'Model Name': 'CatBoostRegressor',
  'R2 Score': '0.5453650346055008',
  'Mean Abs Error': '742.1582307861552',
  'Mean Sq Error': '1139123.5159865844',
  'Root Mean Sq Error': '1067.2972950338553'}]

In [49]:
df = pd.read_csv('../data/raw/Train.csv')

In [60]:
df  = df.reset_index()

In [63]:
df.rename(columns={'index':'id'},inplace=True)

In [64]:
df.head()

,id,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
df.to_csv('../data/raw/Train.csv',)